.container
  %h1 Welcome to Fab and Mac's Awesome Url Shortener! With HAML!
  %p Hello, world!
  %ul
    - @list_short_urls.select{|u| u.short}.each  do |url|
      %li
        = link_to url.short, super_short_path(url.short) 
        = url.click_count
        Clicks
  = form_for @url do |f|
    Your url: 
    = f.text_field :long, value: "http://", :required => true
    = f.submit
  %p= @error
